body {
    background-color:darkcyan;
}
h1 {
    background-color:orange;
    padding:40px;
    width:20%;
    font-size: 2em;
    margin: 10px;
}
p {
    color:green;
    padding:20px;
}
.instructions {
    background-color: beige;
    margin: 10px;
    padding:20px;
    width:35%;
}
#randomNumBox {
    background-color: green;
    margin:10px;
    width:20%;
    height:111px;
    float:left;

}
#winLossBox {
    background-color: lightblue;
    margin:10px;
    width:10%;
    float:left;
}