body {
    background-color:darkcyan;
}

.title {
    width:30%;
    padding:10px;
    background-color:orange;
    margin:10px;
    text-align: center;
}
h1 {
    font-size: 1.5em;
}
p {
    color:green;
    padding:20px;
}
.instructions {
    background-color: beige;
    margin: 10px;
    padding:20px;
    width:35%;
}
#randomNumBox {
    background-color: green;
    margin:10px;
    width:25%;
    height:111px;
    float:left;

}
#winLossBox {
    background-color: lightblue;
    margin:10px;
    width:20%;
    float:left;
}

.crystals {
    clear:both;
}
.crystal {
    width:100px;
    height:100px;
}
.totalText {
    color:white;

}
.totalTextbox {
    padding:10px;
    margin:10px;
    background-color:darkolivegreen;
    width:20%;

}
#totalScore {
    background-color: green;
    margin:10px;
    width:20%;
    height:111px;
}
#randomNumber {
    margin-left:10%;
    margin-top:10%;

}