body {
    background-color:darkcyan;
}

.title {
    width:50%;
    padding:10px;
    background-color:orange;
    margin:10px;
    text-align: center;
}
h1 {
    font-size: 2em;
}

p {
    color:green;
    padding:20px;
}
.instructions {
    background-color: beige;
    margin: 10px;
    padding:10px;
    width:50%;
}
#randomNumBox {
    background-color: green;
    margin:10px;
    width:25%;
    height:111px;
    float:left;

}
#winLossBox {
    background-color: lightblue;
    margin:10px;
    width:20%;
    float:left;
}

.container {
    clear:both;
}
.totalText {
    color:white;

}
.totalTextbox {
    padding:10px;
    margin:10px;
    background-color:darkolivegreen;
    width:20%;

}
#crystal-0, #crystal-1, #crystal-2, #crystal-3 {
    width:100px;
    height:100px;
}
#totalBox {
    background-color: green;
    margin:10px;
    width:20%;
    height:111px;
}
#randomNumber {
    font-family: 'Times New Roman', Times, serif;
    font-size:2em;

}
